/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.title {
    margin: 20px 0;
}

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}

/* Main Container */
.main {
    border: 8px solid #ddd;
    border-radius: 24px;
    overflow: hidden;
    width: 85vw;
    max-width: 500px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

/* Form Styles */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    font-weight: 600;
    color: #707070;
    margin-bottom: 8px;
}

input[type="text"] {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: border 0.3s ease;
}

input[type="text"]:focus {
    border: 1px solid #707070;
}

/* Button Styles */
.join-button {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #707070;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-button:hover {
    background-color: #505050;
}